<ul class="timeline">
    <!-- Item 1 -->
    <% for(var i=3;i>=0;i--) {%> 
    <li>
      <div class="direction-l">
        <div class="flag-wrapper">
          <span class="hexa"></span>
          <span class="flag">whatsapp received</span>
          <span class="time-wrapper"><span class="time">Feb 2015</span></span>
        </div>
        <div class="desc">Thank you,for the update <%= i %> </div>
      </div>
      <div class="direction-r">
        <div class="flag-wrapper">
          <span class="hexa"></span>
          <span class="flag">whatsapp sent</span>
          <span class="time-wrapper"><span class="time">Dec 2014 </span></span>
        </div>
        <div class="desc">Hi we received your request <%= i %> </div>
      </div>
    </li>
  
    <!-- Item 2 -->
    <li>
        <div class="direction-r">
          <div class="flag-wrapper">
            <span class="hexa"></span>
            <span class="flag">whatsapp sent</span>
            <span class="time-wrapper"><span class="time">Dec 2014 </span></span>
          </div>
          <div class="desc">Hi we received your request <%= i %> </div>
        </div>
      </li>

   <% }%> 
</ul> 