
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma-rtl.min.css">
</head>
<body>
    <%- include('./partial/menu.ejs')%>
    
    <div class="container box">
        <table class="table">
            <thead>
              <tr>
                <th><abbr title="Position">Pos</abbr></th>
                <th>Student name</th>
                <th><abbr title="grade">Grade</abbr></th>
                <th><abbr title="dob">D.O.B</abbr></th>
                <th><abbr title="address">Address</abbr></th>
                <th><abbr title="email">Email</abbr></th>
                <th><abbr title="number">Number</abbr></th>
                <th><abbr title="Old school">Previous school</abbr></th>
                <th><abbr title="guardian">Guardian name</abbr></th>
                <th><abbr title="relation">Relation</abbr></th>
                <th><abbr title="education">Education</abbr></th>
                <th><abbr title="occupation">Occupation</abbr></th>
              
              </tr>
            </thead>
            <tbody>
                <tr>
                    <th>1</th>
                    <td><a href="/enquiry/profile">Agish</a></td>
                    <td>7</td>
                    <td>17/03/1995</td>
                    <td>Mylode,allencode</td>
                    <td>agishlisho@gmail.com</td>
                    <td>+916379152868</td>
                    <td>Victory,mylode</td>
                    <td>Lelin</td>
                    <td>Mother</td>
                    <td>housewife</td>
                    <td>nil</td>
            
                    </tr>
                    <tr>
                        <th>2</th>
                        <td><a href="/enquiry/profile">Agish</a></td>
                        <td>7</td>
                        <td>17/03/1995</td>
                        <td>Mylode,allencode</td>
                        <td>agishlisho@gmail.com</td>
                        <td>+916379152868</td>
                        <td>Victory,mylode</td>
                        <td>Lelin</td>
                        <td>Mother</td>
                        <td>housewife</td>
                        <td>nil</td>
                
                        </tr>
                        <tr>
                            <th>3</th>
                            <td><a href="/enquiry/profile">Agish</a></td>
                            <td>7</td>
                            <td>17/03/1995</td>
                            <td>Mylode,allencode</td>
                            <td>agishlisho@gmail.com</td>
                            <td>+916379152868</td>
                            <td>Victory,mylode</td>
                            <td>Lelin</td>
                            <td>Mother</td>
                            <td>housewife</td>
                            <td>nil</td>
                    
                            </tr>
                  </tbody>
            </table>
    </div>

</body>
</html>