<div class="container">
    <nav class="box  "   style="width:50%;" >
        
        <div class="field">
            <div class="columns is-desktop">
            
            <div class="control column">
              <div class="select">
                <select>
                  <option>Select Academic year</option>
                  <option>2021-2002</option>
                </select>
              </div>
            </div>
      
           
            <div class="control column">
              <div class="select">
                <select>
                  <option>Select grade</option>
                  <option>Grade 1</option>
                  <option>Grade 2</option>
                  <option>Grade 3</option>
                  <option>Grade 4</option>
                  <option>Grade 5</option>
                  <option>Grade 6</option>
                  <option>Grade 7</option>
                  <option>Grade 8</option>
                  <option>KG1</option>
                  <option>KG2</option>
                  <option>PreKG</option>
                </select>
              </div>
            </div>
         </div>
        </nav>
        <div class="row">
        <div class="box column " style="width:50%;" >
         <div class="columns is-desktop">
           
            <div class="control has-icons-left has-icons-right column">
              <input class="input is-success" type="text" placeholder="Student Name" name="name" value="">
            </div>
            
            
            
            <div class="control has-icons-left has-icons-right column">
              <input class="input is-success" type="date" placeholder="" value="">
            </div>
            </div>
           
            <div class="control column">
              <textarea class="textarea" placeholder="Address"></textarea>
            </div>
            <div class="columns is-desktop">
           
            <div class="control has-icons-left has-icons-right column">
              <input class="input is-success" type="email" placeholder="Email address" value="">
            </div>
                  
            
           
            <div class="control has-icons-left has-icons-right column">
              <input class="input is-success" type="number" placeholder="Mobile number *" name="number" value="">
            </div>
            </div>
            <label class="label">Name of the school studied by the student *</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input is-success" type="text" placeholder="Name of the school studied by the student *" name="school_name" value="">
            </div>
          </div>
        <div class="box column" style="width:50%;"  >
            <label class="label">Name of the guardian</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input is-success" type="text" placeholder="Name of the guardian" name="guardian_name" value="">
            </div> 

            <label class="label">Education</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input is-success" type="text" placeholder="Education" name="Education" value="">
            </div> 
            
            <label class="label">Relation</label>
            <div class="control">
              <div class="select">
                <select>
                  <option>Select Relation</option>
                  <option>Father</option>
                  <option>Mother</option>
                  <option>Other</option>           
                </select>
              </div>
            </div>
            
            <label class="label">Occupation</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input is-success" type="text" placeholder="Occupation" name="Occupation" value="">
            </div> 
            
          </div>
          <div class=" container" style="width: 60%;">
            <button class="button is-primary is-outlined box">Add enquiry</button>

          </div>
        </div>
        
  </div>
 <br>
  </div>



