<br>
<br>
<aside class="menu container" style="position: fixed;width:12%;top: 20% ;left: 1%;">
    <nav class="box container" >
    <p class="menu-label">
      Enquiry
    </p>
    <ul class="menu-list">
        <li><a href="/enquiry/view ">View enquiry</a></li>
        <li><a href="/enquiry/add ">Add enquiry</a></li>
      <li><a href="/enquiry/responses ">Enquiry responses</a></li>
      <li><a href="/enquiry/schedule">Schedule</a></li>
      
      
    </ul>
    <p class="menu-label">
      Interview details
    </p>
    <ul class="menu-list">
        <li><a href="/interview/report ">Interview details</a></li>
        <li><a href="/interview/report ">Reports</a></li>
      <li><a href="/interview/agent ">Agent</a></li>
     
    </ul>
    <p class="menu-label">
      Transactions
    </p>
    <ul class="menu-list">
      
      <li><a>Transfers</a></li>
      <li><a>Balance</a></li>
    </ul>
    <br>
    <a style="width: 100%;" href="/" class="button is-danger is-outlined">Log out</a>
</nav>
  </aside>

  <style>
    @import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";
 </style>